.App {
  color: #1b4332;
  font-family: "Cabin", sans-serif;
  text-align: center;
}
h1 {
  font-size: 70px;
}
.Grid {
  display: grid;
  background-color: #74c69d;
  /* border: #1b4332 solid 1px; */
  border-radius: 2%;
  margin: auto;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.Tile {
  justify-self: stretch;
  align-self: stretch;
  /* background-color: #b7e4c7; */
  border-radius: 10%;
  /* border: #1b4332 solid 1px; */
  margin: 10px;
  text-align: center;
  /* font-size: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.onTopOfGrid {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.Score {
  padding: 15px;
  background-color: #b7e4c7;
  display: flex;
  width: 150px;
  border-radius: 5%;
  font-size: 20px;
}
.resetButton {
  padding: 15px;
  background-color: #b7e4c7;
  display: flex;
  width: 100px;
  border-radius: 5%;
  font-size: 20px;
  justify-content: center;
}
.resetButton:hover {
  cursor: pointer;
}
.HiScore {
  padding: 15px;
  background-color: #b7e4c7;
  display: flex;
  width: 200px;
  border-radius: 5%;
  font-size: 20px;
}
